.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-pills .nav-link.active{
  color: #000000 !important;
  background-color: #FFFFFF !important;
}
.card{
  background-color: whitesmoke !important;
}

a{
  color: black !important;
}

.card{
  border-color: #cfceca !important;
  border-width: 1px !important;
}

.card-link{
  color: #e61919 !important;
}
.card-title{
  color: #212529 !important;
}
.p_start{
  margin-top: 16px;
}